// .babelrc
{
  "presets": [
    [
      "next/babel", 
      {
        "preset-env" : {
          "targets" : {
            "node" : "current"
          }
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}
