body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.icons {
    margin-left: 8px;
    margin-top: 4px;
    width: 150px;
}

.icon {
    margin: 1rem;
    width: 25px;
}

a {
    text-decoration: none;
}

.cyverse-blue-bg {
    background-color: rgba(9, 113, 171, .2);
    color: #004471;
}

.cyverse-silver-bg {
    background-color: rgba(72, 81, 95, .2);
    color: #004471;
}

.cyverse-dk-navy-bg {
    background-color: rgba(0, 68, 113, .2);
    color: #004471;
}

.cyverse-blue {
    color: #0971ab;
}

.bottomDiv {
    margin: 0.5rem;
    padding: 8px;
    flex-grow: 1;
}

.bottomButton {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    margin: 8px;
    text-decoration-line: none;
    cursor: pointer;
}

.bottomButton:hover {
    text-decoration-line: underline;
    color: #000000;
}

.center {
    margin: auto;
    text-align: center;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.btn-maintenance {
    background-color: #0971ab;
    color: #ffff
}

.btn-outline-secondary {
    color: #004471;
    border-color: #004471;
}

.btn-outline-secondary:hover {
    color: #004471;
    background-color: #99d9ea;
    border-color: #99d9ea;
}

.btn-outline-light {
    color: #004471;
    border-color: #004471
}

.btn-outline-light:hover {
    color: #000000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.flex-col {
    flex-direction: column !important;
}

.col-content {
    position: relative;
    min-height: 175px;
}

.align-self-end {
    position: absolute;
    bottom: 0px;
}
