name: Chromatic CI

on:
  push
  pull_request:
    types: [synchronize]

jobs:
  build:
    if: github.repository == 'cyverse-de/sonora'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Required to retrieve git history
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build, and test
        run: |
          npm ci
          npm run build --if-present
        env:
          CI: true
      - uses: chromaui/action@v1
        with:
          token: ${{ secrets.my_token }}
          projectToken: ${{ secrets.project_token }}
          exitZeroOnChanges: true
          allowConsoleErrors: true